$md-primary: (
    50 : #eceef4,
    100 : #d0d5e4,
    200 : #b1b9d2,
    300 : #919cbf,
    400 : #7a87b2,
    500 : #6272a4,
    600 : #5a6a9c,
    700 : #505f92,
    800 : #465589,
    900 : #344278,
    A100 : #c5d0ff,
    A200 : #92a7ff,
    A400 : #5f7eff,
    A700 : #4669ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #f7f2fe,
    100 : #ebdffd,
    200 : #dec9fc,
    300 : #d1b3fb,
    400 : #c7a3fa,
    500 : #bd93f9,
    600 : #b78bf8,
    700 : #ae80f7,
    800 : #a676f6,
    900 : #9864f5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fdfcff,
    A700 : #ede3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);